@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-black text-center py-5 mb-4">
    <div class="container">
        <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <ol class="list-group list-group-flush">
                <li class="list-group-item border-0 p-3">
                    <h5 class="fw-bold mb-2">Collection of Personal Information</h5>
                    <p>At Green Haven Store, we collect personal information such as your name, email address, and shipping details to process your orders and provide a personalized shopping experience. Your information is securely stored and used solely for the purpose of fulfilling your orders and improving our services.</p>
                </li>
                <li class="list-group-item border-0 p-3">
                    <h5 class="fw-bold mb-2">Use of Cookies</h5>
                    <p>We use cookies to enhance your browsing experience on our website. Cookies help us understand your preferences and offer you a tailored shopping experience, including showing you plants and products that match your interests. You can manage your cookie preferences through your browser settings.</p>
                </li>
                <li class="list-group-item border-0 p-3">
                    <h5 class="fw-bold mb-2">Protection of Payment Information</h5>
                    <p>Your payment information is encrypted and securely processed through trusted payment gateways. We do not store your credit card information on our servers. Your financial security is our top priority, and we ensure that all transactions are protected by the latest encryption technologies.</p>
                </li>
                <li class="list-group-item border-0 p-3">
                    <h5 class="fw-bold mb-2">Sharing of Information</h5>
                    <p>We do not share your personal information with third parties, except for those necessary to fulfill your orders, such as shipping companies. We are committed to protecting your privacy and ensuring that your information is only used in ways that you have consented to.</p>
                </li>
                <li class="list-group-item border-0 p-3">
                    <h5 class="fw-bold mb-2">Your Rights</h5>
                    <p>You have the right to access, update, or delete your personal information at any time. If you have any questions or concerns about our privacy practices, please contact our customer support team. We are here to ensure your data is handled with the utmost care.</p>
                </li>
            </ol>
        </div>
    </div>
</div>
