@model Category

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="text-center py-3">
    <h1 class="fw-bold mt-2">Add Category</h1>
</div>
<div class="container">
    @if (TempData["message"] is not null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["message"]
        </div>
    }
    
    <form asp-action="Add" method="post">
        <div class="mb-3">
            <label asp-for="Cat_Name" class="form-label">Category Name</label>
            <input type="text" asp-for="Cat_Name" name="Cat_Name" class="form-control">
            <span id="emailHelp" asp-validation-for="Cat_Name" class="form-text text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cat_Date" class="form-label">Category Date</label>
            <input type="date" asp-for="Cat_Date" name="Cat_Date" class="form-control">
            <span id="emailHelp" asp-validation-for="Cat_Date" class="form-text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
        <button type="reset" class="btn btn-outline-success">Reset</button>
    </form>
</div>
    

